{% extends "base.html" %}
{% block content %}
<center>
 <blockquote">
  <b>❝ EVER TRIED. EVER FAILED. NO MATTER.<br>
  <span>TRY AGAIN. FAIL AGAIN. FAIL BETTER ❞ </b></span>
 </blockquote>
 <h2 class="title">Hi, I am Botpsycho</h2>
</center>

<p>My internet name is Botpsycho. I am just a guy who loves Computers and Software. This is my personal website. Here you can find details about me.
<div style="line-height:10px">
<img src="/avatar.jpg" alt="avatar image"  width="300" height="300">
</div>


<h2>Website Details</h2>
<p>
  <ul>
    <li>This website was started on 11 June 2022.</li>
    <li> This is a clean and minimal website without javascript.</li>
    <li> Every time you reload open different sections of this website, you will see a different image.</li>
    <li>If you find this website ugly, <a href="http://motherfuckingwebsite.com">click here</a>.</li>
  </ul>
</p>
<br>
{% endblock content %}
